.Certificateform {
    margin: 25px auto;
    margin-right: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: #364350;
    min-width:1180px;
    min-height: 602px;
    display: flex;
    flex-direction: row;
  }
.reqdisplayflexcolomn{
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.RequestPendingTitle{
  margin-top: 30px;
    display: flex;
    align-items: center;
    color: #5DD3B3;
    font-size: large;
}

  .CertificateTitle {
    width: 368px;
    height: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Core Rhino 45 ', sans-serif;
    font-weight: bold ;
    font-size: 20px;
    color: #fff;
    
  }
  .CertificateCardFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .CertificateCard{
    width: 250px;
    height: 400px;
    flex-grow: 0;
    margin: 10PX;
    padding: 0 0 22px;
    border-radius: 20px;
    background-color: #1F2731;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 

  }

  .CertificateCard:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  .customizeFieldNametext{
    font-family: 'Core Rhino 45 ', sans-serif;
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
    margin-left: 3px;
  }

  .Certificateoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .CertificateoverlayContent {
    margin-left: 60px;
    width: 850px;
    min-height: 700px;
    background-color: #384450;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
  }
  
.closebtn{
   float: right;
   color: white;
   margin-bottom: 10px;
}
/* .certificateOverlayImg{
    height: 400px;
    border-radius:10px ;
    width: 100%;
    margin: auto;
} */


.certificateIcon{
    width: 24px !important;
    fill: yellow !important;
    height: 30px;
    margin: 0 auto;
}

.certificateOverlayImg {
  height: auto;
  max-height: 400px;
  border-radius: 10px;
  width: 100%; 
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .customizeFieldTopicName{
   text-align: center;
    height: 20px;
    font-family: 'Core Rhino 45 ', sans-serif;
    font-weight: bold ;
    font-size: 20px;
    color: #fff;
    margin: auto;
    margin-top: 5px;
    
  }

  .customizeFieldNameTOPIC{
    font-family: 'Core Rhino 45 ', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;

  }
  .certificateflexDetails{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    

  }
  .customizeFieldNametextOverlay{
    font-family: 'Core Rhino 45 ', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 5px;
    width: 300px;
    margin-left: 110px;

  }

  .rejectReason{
    color: white;
    padding: 10px;
    display: flex ;
    justify-content: space-between;
    width: 80%;
    margin-left: 100px;
    
  }
  .rejectReason input{
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 5px;
    color: #fff;

    
  }
  .ReasonBtn{
    width: 150px;
    background-color: #5DD3B3;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 26px;
    float: right;
    
  }
  .ReasonBtn:hover{
    background-color: #9be9d4;
  }

  .CustomizeReject{
    color: red;
  }
   .CustomizeVerifyt{
    color: #5DD3B3;
  }
  .createat{
    color:#5DD3B3;
    margin-left: 5px;
  }

  @media only screen and (max-width: 768px) {
    .Certificateform{
      min-width:110%;
      min-height: 602px;
    }
    .reqdisplayflexcolomn{
      width: 100%;

    }
    .RequestPendingTitle{
      font-size: 9px;
    }
 
    .CertificateCard{
      width: 100%;
      margin: 0PX;
      margin-bottom: 10px;
      height: 250px;
    }
    .CertificateCardImages{
      height: 100px;
    }

    .customizeFieldNametext{
      font-size: 9px;
    }
    .createat{
      font-size: 9px;
    }
    .CertificateoverlayContent{
      width: 70%;
      min-height: 60%;
    }
    .closebtn{
      font-size: 9px;
    }
    .customizeFieldTopicName{

      font-size: 10px;
    }
    .certificateflexDetails{
    
      display: flex;
      flex-direction: column;
 
    }
    .customizeFieldNametextOverlay{
    
      font-size: 9px;
      width: 90%;
      margin-left: 0px;
    }
    .rejectReason{
      margin-left: 0px;
      font-size: 14px;
    }
    .ReasonBtn{
      width: 80px;
      height: 20px;
      font-size: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .overlayvalues{
      font-size: 9px;
    }
    .CustomizeReject,
    .CustomizeVerifyt{
      font-size: 9px;
      margin-left: 5px;
    }
    .rejectReason input{
      width: 100%;
      margin-left: 5px;
    }
    .responsiveText{
      font-size: 9px;
    }

  }