.Customizeflex{
    display: flex;
}
.reqdisplayflexcolomn{
  width: 100%;
}
.RequestPendingTitle{
  margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:20%;
    color: white;
    font-size: large;
  }
  .RequestPendingTitleSendCustomize{
    margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:36%;
      color: white;
      font-size: large;
    }

.Mainformsdisplayflex{
display: flex;
}
.Customizeform {
    width:750px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #364350;
    min-height: 603px;
  }
  
  .CustomizformTitle {
    width: 368px;
    height: 20px;
    margin: 0 172px 20px 0;
    font-family: 'Core Rhino 45 ', sans-serif;
    font-weight: bold ;
    font-size: 20px;
    color: #fff;
    
  }
  
  .customizeFieldNametext{
    font-family: 'Core Rhino 45 ', sans-serif;
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;

  }
  .customizeFielddropcheck{
    font-family: 'Core Rhino 45 ', sans-serif;
    font-size: 15px;
    color: #fff;
    width: 100px;
    padding: 7px;
  }
  .customizeInputtext {
    background-color: transparent;
    width: 100%;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .customizeInputtext:focus ,
  .customizeInputte:focus{
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    color: #fff;
  }

.customizeselecttype {
    width: 100%;
    padding: 4px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;

  }
  .customizeselecttypeback {
  background-color: #1F2731;
  }
  
  .customizeselecttype:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  
  .CustomizefieldContainer {

    align-items: center;
    margin-top: 10px;
    border-bottom: 2px solid #576371;

  }


  
  .customizeIsOptional {
    font-family: 'Core Rhino 45 ', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-top: 22px;
    margin-bottom: 5px;
  }

  /* -------------drop down , checkboxes , Radio ---------------------- */

  .customizeDropdownOptions,
  .customizeCheckboxRadioOptions,
  .customizeCheckboxRadioOptions{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .customizeDropdownInput,
  .customizecheckboxInput,
  .customizeradioInput {
    padding: 2px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: transparent;
    color: #fff;
  }
  
  .customizeDropdownInput:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  
 
  .customizeRemove {
    width: 100px;
    height: 30px;
    background-color: #e74c3c;
    color: white;
    padding: 2px;
    margin-left:160px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  .customizeAddOption {
    width: 100px;
    height: 30px;
    background-color: #5DD3B3;
    color: white;
    padding: 2px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  .customizeRemove:hover{
    background-color: #c0392b;
  }

  
  .customizeAddOption:hover {
    background-color: #9be9d4;
  }
/* --------------add field , submit bottun --------------------- */
.Customizebutton{
    display: flex;
    justify-content:space-between;
}
  .CustomizeAddField,
  .CustomizeSubmit {
    width: 150px;
    background-color: #5DD3B3;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 26px;
    transition: background-color 0.3s;
  }
  
  .CustomizeAddField:hover,
  .CustomizeSubmit:hover {
    background-color: #9be9d4;
  }
  
  .CustomizeSubmit {
    margin-left: 10px;
  }
  


  .getCustomizeMain{
    width: 500px;
    border: 2px solid green;
  }
/* ------------file ----------- */

.customizeInputfile {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  width: 90%;
  height: 30px;
  font-size: 6px;
  margin-bottom: 10px;
}


.customizeInputfileLabel {
  font-family: 'Core Rhino 45', sans-serif;
  font-size: 10px;
  margin-bottom: 5px;

}

.customizeInputfile:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
  /* ----------Get form customize--------- */

  .CustomizeGetMain{
    width:400px;
    min-height: 600px;
    margin: 84px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #364350;
  }
  
.customizeInputte,
select{
  padding: 2px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 90%;
  background-color: transparent;
  height: 30px;
  color:#fff;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 8px;
  height: 20px;
  width: 25px; 
  color: #fff;
}


/* Styling for checked state */
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: '\2022';
  font-size: 20px;
  color: #007BFF;
  margin-right: 5px;
}

.CustomizeDelete{
  width: 150px;
  background-color: #5DD3B3;
  color: white;
  padding: 10px 15px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 26px;
}

.CustomizeDelete:hover{
 background-color: #9be9d4;
}

.customizeInputdate {
  background-color: transparent;
  color: #fff; /* Set the text color to white */
  border: 1px solid #ffffff71;
  border-radius: 10px;
  height: 30px;
  padding: 0 20px;
  width: 90%;
  margin-bottom: 10px;
}

.customizeInputdate:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
  
/* --------drop down -------- */
.studentcustomizeDropdownOptions{
  background-color: inherit;
  border: 1px solid #ffffff71;
  color: #fff;
  border-radius: 10px;
  height: 30px;
  padding: 0 20px;
  width: 90%;
}

.studentcustomizeDropdownOptionsSelect{
  background-color:#1F2731;
  color: #ccc;

}
.studentcustomizeDropdownOptions:focus{
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}


 /* ----------Get Admin After filled customize--------- */

 .customizeafterform{
  margin-top: 20px;
  width:400px;
  padding: 20px;
  border-radius: 20px;
  background-color: #364350;
  min-height: 600px;
  margin-bottom: 20px;

 }

 .customizeAfterimageContainer{
  margin: 25px auto;
  padding: 20px;
  border-radius: 20px;
  width: 650px;
 }
 .customizeAfterimageContainer img{
  object-fit: cover;
  width: 100%;
  height: 80vh;
 }
 .customizeAfterDropdown{
  background-color: inherit;
  border: 1px solid #ffffff71;
  color: #fff;
  border-radius: 10px;
  height: 30px;
  padding: 0 20px;
  width: 100%;
 }
 .imageWithBackground {
  background-color: #364350; 
}
.customizeAfterDetails{
  margin: 25px auto;
  height: 90%;
  padding: 20px;
  border-radius: 20px;
  background-color: #2d3741;
}

.customizeFieldDetails{
display: flex;
border-bottom: 1px solid #5DD3B3;
border-radius: 5px;
margin-top: 5px;
}
.customizeFieldDetails:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}

.customizeFieldName{
  font-family: 'Core Rhino 45 ', sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  width: 200px;
  padding: 10px;

}
.customizeFieldValue{
  font-family: 'Core Rhino 45 ', sans-serif;
  font-size: 14px;
  color: #ffffff71;
  font-weight: bold;
  width: 120px;
  padding: 10px;
  width: 100%;
  
}

.bottunVerfiy{
  width: 150px;
  background-color: #5DD3B3;
  color: white;
  padding: 10px 15px;
  margin-top: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 26px;
  float: right;
}

.bottunVerfiy:hover{
 background-color: #9be9d4;
}


.rejectReason{
  color: white;
  padding: 10px;
  display: flex ;
  justify-content: space-between;
  width: 100%;
}
.rejectReason input{
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 5px;
  color: #fff;
}

.CustomizeReject{
  color: red;
}
 .CustomizeVerifyt{
  color: #5DD3B3;
}