.Footer {
    width: 100%;
    background-color: #07393C;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 40px 30px ;
    font-family: poppins;
    font-weight: 300;
   
}
.Exclusive,.Support,.Account,.Quicklist{
    display:flex;
    
    flex-direction: column;
}
.Exclusive h3,.Support h3,.Account h3,.Quicklist h3{
    font-size: 25px;
    padding-bottom: 10px;
    
}
.Exclusive p,.Support p,.Account p,.Quicklist p{
    font-size: 15px;
    padding:10px 0;
    display: flex;
    flex-direction: row;
    transition: transform 0.1s ease;
    
}
.Exclusive input{
    border-radius: 10px;
    width: 250px;
    background-color: transparent;
    border: solid 3px grey ;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: black;
    margin-top: 10px;
    
}
input::placeholder{
    font-size: 17px;
    padding-left: 7px;

}
.socialmedia{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   
}
.socialmedia a{
    font-size: 30px;
    width: 35px;
    margin-left: 12px;
}
.socialmedia a:hover{
    font-size: 40px;
    width: 40px;
    margin-left: 12px;

}
.smallfont{
    font-size: 12px;
    margin-bottom: -15px;
    margin-top: 10px;

}
.Qrcode{
    height: 100px;
    width:100px;
    margin-top: 20px;
}
.googleplay{
    width: 100px;
    height: 30px;
    


}
.maindiv{
    display: flex;
    flex-direction: row;
}
.divtwo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-top: 20px;
}
/* .wholefooter{
    display: flex;
    flex-direction: row;
} */

.copyright {
    
    bottom: 0;
    left: 0;
    width: 100%;
   background-color: #07393C;
    color: lightgrey;
    
    text-align: center;
    padding: 10px 0;
}
.hrline {
    border: none; 
    border-top: 1px solid grey;
   
}
.Footer p:hover{
    /* padding-left: 20px; */
    transform: scale(1.1);

}


 @media screen and (max-width: 600px) {
    .Footer {
        display: flex;
        flex-direction: column;
        align-items: center; 
        
        height: fit-content;
        padding: 20px 0;
        
        width: 100%;
    }

    .Footer > div {
        flex: 1;
        margin: 20px 0;
        max-width: 100%; 
        text-align: center;
        
        
    }

    .Footer input {
        width: 80%; 
    }

    .socialmedia a {
        font-size: 25px; 
    }
    .Exclusive,.Support,.Account,.Quicklist{
        display: flex;
       align-items: center;
        
        
    }
  
} 
