.NavBarAdminMain{
    height: 50px;
    background-color: #384450;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;

}

.NavBarAdminDashborad{
    margin-left: 30px;
    color: #fff;
    font-family: 'Core Rhino 45', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .NavBarAdminLogout{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5DD3B3;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }

  .NavBarAdminLogout:hover {
    background-color: #9be9d4; 
  }