.NavBarAdminMain{
    height: 50px;
    background-color: #384450;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;

}

.NavBarAdminDashborad{
    margin-left: 35px;
    font-family: 'Core Rhino 45', sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    color: #5DD3B3;
    display: flex;
  }

  .NavBarAdminPanelText{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }

  .NavBarAdminLogout{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5DD3B3;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    height: 30PX;
    display: flex;
    align-items: center;
    border-radius:40px ;
  }

  .NavBarAdminLogout:hover {
    background-color: #9be9d4; 
  }

  @media only screen and (max-width: 768px) {
    .NavBarAdminMain{
      width: 100%;
    }
    .NavBarAdminDashborad{
      font-size: 9px;
      margin-left: 2px;
    }
    .NavBarAdminLogout{
      height: 10px;
      font-size: 9px;
    }
  }