@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');


/* *{
 box-shadow: 1px 1px 1px  red;
} */
.cursive {
  font-family: 'Open Sans', sans-serif;}

.sans {
  font-family: 'Open Sans', sans-serif;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.underline {
  border-bottom: 1px solid #777;
  padding: 0 10px;
  margin: 10px 0;
  text-decoration: none;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.pm-empty-space {
  height: 40px;
  width: 100%;
}

body {
  padding: 20px 0;
  background: #ccc;
}

.pm-certificate-container {
  position: relative;
  width: 800px;
  height: 600px;
  padding: 30px;
  margin-right: 30px;
  margin-top: 20px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
 
 
}

.outer-border {
  width: 794px;
  height: 594px;
  position: absolute;
  left: 50%;
  margin-left: -397px;
  top: 50%;
  margin-top:-297px;
  border: 2px solid #fff;
}

.inner-border {
  width: 730px;
  height: 530px;
  position: absolute;
  left: 50%;
  margin-left: -365px;
  top: 50%;
  margin-top:-265px;
  border: 2px solid #fff;
}

.pm-certificate-border {
  position: relative;
  width: 720px;
  height: 520px;
  padding: 0;
  border: 1px solid #E1E5F0;
  background-color: rgba(255, 255, 255, 1);
  background-image: none;
  left: 50%;
  margin-left: -360px;
  top: 50%;
  margin-top: -260px;
}

.pm-certificate-block {
  width: 650px;
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  top: 10px;
}

.pm-certificate-header {
  margin-bottom: 10px;
}

.pm-certificate-title {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.pm-certificate-title h2 {
  font-size: 34px !important;
}

.pm-certificate-body {
  padding: 20px;
}

.pm-name-text {
  font-size: 20px;
 
}

.pm-earned {
  margin: 15px 0 20px;
}

.pm-earned-text {
  font-size: 20px;
  
}

.pm-credits-text {
  font-size: 15px;
}

.pm-course-title .pm-earned-text {
  font-size: 20px;
}

.pm-course-title .pm-credits-text {
  font-size: 15px;
}

.pm-certified {
  font-size: 12px;
}

.pm-certified .underline {
  margin-bottom: 5px;
}

.pm-certificate-footer {
  width: 650px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pm-certificate-footer span{
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: wrap;
}
.pm-certificate-title span{
  width: 500px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: wrap;

}
.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px; 
  width: 120px;
  /* border: 1px solid red; */
}

.qr-code-image {
  max-width: 100%;
  max-height: 100%;
}

.badge-image{
  width: 80px;
  height: 80px;
  margin-top: -35%;
}
.logo{
  width: 80px;
  height: 80px;
}
.pm-certificate-texts{
  font-size: 15px;
  margin-top: 5px;
}
.logo-container{
  display: flex;
  flex-direction: row;
}
.universityDate{
  display: flex;
  flex-direction: column;
 
}
.dateinput{
  width: 100px;
  
}
.certificate-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-input{
 display: flex;
 flex-direction: row;
 margin-top: 13px;
 text-wrap: nowrap;
 word-spacing: normal;

}
.form-input label{
  width: 120px;
  font-family: 'Core Rhino 45', sans-serif;
  font-size: 13px;

}
.form-input input{
  margin-left: 10px;
  color: white;
  background-color: transparent;
  /* border: 1px solid #333;
  border-radius: 8px; */
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
 text-align: center;
 font-family: 'Core Rhino 45', sans-serif;
  
}


.form-input select{
  width: 150px;
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid #333;
}
.form-input select option {
  background-color: #576371; 
  color: white; 
}
/* Certificate.css */

.capture-button {
  background-color: #5DD3B3; /* Blue background color */
  color: white; /* White text color */
  padding: 5px 10px; /* Padding around the button text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin: 15px 0;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
  width: 130px;
  font-size: 11px;
  font-weight: 400;
  ;
}

.capture-button:hover {
  background-color: #384450;
  color:white; /* Darker blue background color on hover */
  transform: scale(1.1);
  
}


/* ------------certificate editor---------------------------------- */
.certificate-editor{
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 90vh;
  margin-top: 20px;
  background-color: #384450;
  border-radius:20px;
  color :white;
  padding-left: 30px;
  padding-top: 20px;
  font-family: 'Core Rhino 45', sans-serif;
  font-size: 14px;
  font-weight: 500;
  overflow-y: scroll;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  float: right;
  margin-left: 20px;
}
.certificate-editor h2{
  font-size: 30px;
  font-family: "Corinthia", sans-serif;
  text-align: center;
}
.certificatebtns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}