.backgroudFlex{
    width: 50%;
    margin-top: 7%;
    margin-left: 25%;
    display: flex;
    height: 470px;
    border-radius: 20%;
    margin-bottom: 50px;
    box-shadow: 1px 0px 100px #8ab7a7;
   }
   .backgroudFlexRegister{
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    display: flex;
    height: 650px;
    border-radius: 20%;
    margin-bottom: 50px;
    box-shadow: 1px 0px 100px #8ab7a7;
   }

   .box{
    background-color:#2d3741;
    width:90%;
    height: inherit;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: -10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    
}

.boxRegister{
    background-color:#2d3741;
    width:90%;
    height: inherit;
    border-top-right-radius: 17%;
    border-bottom-right-radius: 17%;
    box-shadow: -10px 0px 15px 0px rgba(0, 0, 0, 0.5);
    
}

.rightImage{
    width: 100%;
    background: linear-gradient(250deg, transparent 35%, #2d3741, #2d3741) border-box ;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left:4px solid transparent;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
   
}
.rightImageContainerRegister{
  margin-top: 35%;
}

.rightImageContainerLogin{
  margin-top: -45%;
}


.helloText{
  color: #28EFA9;
  font-size: 40px;
  margin-left: 5%;
  margin-top: 60%;
}
.welcomeText{
  color: #28EFA9;
  font-size: 35px;
  margin-left: 13%;
  margin-top: 5%;

}
.welcomeText2{
  color: #28EFA9;
  font-size: 35px;
  margin-left: 22%;
  margin-top: 5%;

}
.registerText{
  color: #28EFA9;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 10%;

}
.registerText2{
  color: #28EFA9;
  font-size: 15px;
  margin-left: 23%;

}


/* --------------button ----------------- */
.SignUpLoginbutton {
     width:90%;
    position: relative;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #2d3741;
    background-color: #94E7C0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-left:  20px;
  }
  
  .SignUpLoginbutton:hover {
    background: #28EFA9;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #2d3741;
    font-weight: bold;
  }
  
  .SignUpLoginbutton:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .SignUpLoginbutton::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .SignUpLoginbutton:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  /*--------------------sign up button--------------------------------*/
  .SignUpbutton {
    width:30%;
   position: relative;
   padding: 5px 10px;
   border-radius: 10px;
   border: 1px solid #2d3741;
   background-color: #94E7C0;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 2px;
   color: #fff;
   overflow: hidden;
   box-shadow: 0 0 0 0 transparent;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
   margin-left:  35%;
   margin-top: 10%;
 }
 
 .SignUpbutton:hover {
   background: #28EFA9;
   -webkit-transition: all 0.2s ease-out;
   -moz-transition: all 0.2s ease-out;
   transition: all 0.2s ease-out;
   color: #2d3741;
   font-weight: bold;
 }
 
 .SignUp:hover::before {
   -webkit-animation: sh02 0.5s 0s linear;
   -moz-animation: sh02 0.5s 0s linear;
   animation: sh02 0.5s 0s linear;
 }
 
 .SignUpbutton::before {
   content: '';
   display: block;
   width: 0px;
   height: 86%;
   position: absolute;
   top: 7%;
   left: 0%;
   opacity: 0;
   background: #fff;
   box-shadow: 0 0 50px 30px #fff;
   -webkit-transform: skewX(-20deg);
   -moz-transform: skewX(-20deg);
   -ms-transform: skewX(-20deg);
   -o-transform: skewX(-20deg);
   transform: skewX(-20deg);
 }
 
 @keyframes sh02 {
   from {
     opacity: 0;
     left: 0%;
   }
 
   50% {
     opacity: 1;
   }
 
   to {
     opacity: 0;
     left: 100%;
   }
 }
 
 .SignUpbutton:active {
   box-shadow: 0 0 0 0 transparent;
   -webkit-transition: box-shadow 0.2s ease-in;
   -moz-transition: box-shadow 0.2s ease-in;
   transition: box-shadow 0.2s ease-in;
 }

  /* --------------topic name----------------- */

  .topicName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white; 
    text-align: center;
   
  }
  
 /* --------------Inputname----------------- */

  .inputName {
    display: block;
    color: white; 
    font-size: 0.875rem; 
    font-weight: 200;
    margin-bottom: 0.5rem; 
    margin-left: 20px;
  }
  
 /* --------------Input----------------- */

 .inputText {
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid #94E7C0;
  caret-color: #94E7C0;
  background-color: #94E7C0;
  padding: 5px;
  transition: .5s linear;
  font-family: monospace;
  letter-spacing: 1px;
  margin-left: 20px;
  width: 90%;
}

.inputText:focus {
  border: 2px solid #2d3741;
  caret-color: #2d3741;
  color:white;
  box-shadow: 4px 4px 10px #070707;
}

.inputText:focus::placeholder {
  color: #2d3741;
}
.inputText::placeholder{
  font-size: medium;
}

/* ------------have an account ----------- */
.haveAccountName{
  margin-left: 20px;
  margin-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.haveAccountName h3 {
  font-size: 0.9rem; 
  color: white; 
  margin-bottom: 5px; 
}

/* --------------login link ----------------- */
.loginLink {
  text-decoration: none;
  font-size: 1rem; 
  font-weight: bold;
  color: #94E7C0; 
  margin-left: 5px;
  cursor: pointer; 
  transition: color 0.3s ease-in-out; 
  border-bottom: 2px solid transparent;
  display: inline-block;
}

.loginLink:hover {
  color: #28EFA9;
} 

/* --------forget password ------------ */
.ForgetPass{
  margin-left: 20px;
  margin-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.ForgetPass h3 {
  font-size: 1rem; 
  color: white; 
  margin-bottom: 5px; 
}

.test1{
  color: green;
}


.forgetPasswordBox{
  background-color:#2d3741;
  width:90%;
  height: inherit;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: -10px 0px 15px 0px rgba(198, 221, 199, 0.5);
  margin-top:10%;
}