.NavActive {
    background-color: #f0f0f0; /* Background color for active sidebar item */
  }
  
.SideBarMain{
    width: 240px;
    height: 90vh;
    margin: 20px 50px 0 0;
    padding: 20px 0px 0 0px;
    background-color: #384450;
    border-top-right-radius:26px ;
    border-bottom-right-radius:26px ;
    
    
}

.LogoMain{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 40px;
}
.CertPass {
    width: 78px;
    height: 36px;
    font-family: "Corinthia", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
.byZidyia{
    width: 46px;
    height: 12px;
    font-family: 'Core Rhino 45', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.NavMain {
    display: flex;
    justify-content: start;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}


.NavMain {
    display: flex;
    justify-content: start;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.active {
    background-color: #5DD3B3; 
    background-image: linear-gradient(to left, #5DD3B3, #86d5c0); 
}

.NavTopicText{
    color: #fff;
    font-family: 'Core Rhino 45', sans-serif;
}

.ZidyiaPassportLogo{
    position: absolute;
    bottom: 0%;
    position: absolute;
    bottom: 0%;
}

.ZidyiaPassportLogo img{
    width: 55px;
    width: 55px;
    height: 66px;
    object-fit: contain;
    margin-left: 30px;
    margin-bottom: 100px;
}


  